body {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: indigo;
    animation: animBg 3s ease-in-out backwards infinite;
}

@keyframes animBg {
    50% {
        background-color: #ff0036;
    }
    100% {
        background-color: indigo;
    }
}

@keyframes colorHeart {
    50% {
        background-color: indigo;
    }
    100% {
        background-color: #ff0036;
    }
}

.dzhuli {
    width: 120px;
    height: 120px;
    background-color: #ff0036;
    transform: rotate(315deg);
    position: relative;
    animation: qq 2s 0.2s ease-in-out infinite alternate, colorHeart 3s ease-in-out backwards infinite;
}

.dzhuli::before, .dzhuli::after {
    content: '';
    display: block;
    width: 120px;
    height: 120px;
    background-color: #ff0036;
    border-radius: 50%;
    position: absolute;
    animation: colorHeart 3s ease-in-out backwards infinite;
}

.dzhuli::before {
    left: 0;
    top: -60px;
}

.dzhuli::after {
    right: -60px;
    top: 0;
}


@keyframes qq {
    0% {
        transform: scale(1.1) rotate(315deg);
    }
    40% {
        transform: scale(1.2) rotate(315deg);
    }
    80% {
        transform: scale(1.25) rotate(315deg);
    }
    100% {
        transform: scale(1) rotate(315deg);
    }
}




